.footer_title {
  font-family: 'Shrikhand', 'Roboto', sans-serif;
  padding: 5px 0 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

footer {
    background-color: #353535;
    padding: 25px;
    color: white;
}

    ul {
      list-style-type: none;
  
      li {
        padding: 5px 0 5px 0;
  
        a {
          color: white;
        }
      }
    }

      .fa-utensils {
        margin-right: 12px;
      }

      .fa-hands-helping {
        margin-right: 5px;
      }