/*Header*/

header {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    width: 100%;
    padding: 21px 0;

    .logo {
            margin: auto;
            display: block;   
            width: auto;

            @media (min-width: 300px) and (max-width: 767px){
            width: 150px;
            }
    }
}
