/*Header*/

header {
    padding: 20px 40px 20px 20px;
    display: flex;
    justify-content: space-between;
	align-items: baseline;

    .logo {
        margin: auto;
        display: block;   

        @media (min-width: 300px) and (max-width: 767px){
        width: 150px;
        }
    }

    .arrow {
        margin-top: 20px;

        @media (min-width: 300px) and (max-width: 767px) {
            margin: 0;
        }
    }
}