/*Header*/

header {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    width: 100%;
    min-width: 320px;
    padding: 21px 0;

    .logo {
            margin: auto;
            display: block;  
            justify-content: baseline; 
    }
}
