.fas {
  margin-right: 20px;
}

h1 {
  color: #9356DC;
}

/*Onglet recherche de la ville*/
.research {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0;
  font-weight: bold;
  width: 100%;
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.presentation_book {
  font-weight: bold;
  font-size: 25px;
}
.presentation_explore {
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-align: center;
  color: #FFF;
  font-weight: normal;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.presentation_explore:hover {
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}

/*Header*/
header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
}
header .logo {
  margin: auto;
  display: block;
  justify-content: baseline;
}

.footer_title {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

/*Base*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

/*Restaurants*/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 601px) and (max-width: 1200px) {
  .restaurants_container {
    max-width: 900px;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .restaurants_container {
    flex-direction: column;
  }
}
.restaurants_title {
  padding: 50px 0 10px 22px;
}
.restaurants_card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 18px;
  position: relative;
  max-width: 280px;
  min-width: 280px;
}
@media screen and (min-width: 375px) {
  .restaurants_card {
    max-width: 330px;
    min-width: 280px;
  }
}
@media screen and (min-width: 650px) {
  .restaurants_card {
    margin-right: 25px;
  }
}
.restaurants_card img {
  width: 100%;
  max-height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants_card .restaurants_card_content {
  padding: 19px 11px;
  position: relative;
  display: flex;
}
.restaurants_card .restaurants_card_content h3 {
  margin-bottom: 6px;
}
.restaurants_card .restaurants_card_content .restaurants_card_content_name {
  position: relative;
}
@keyframes heart_full_opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart_empty_opacity1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.restaurants_card .restaurants_card_content .heart {
  position: absolute;
  right: 20px;
  top: 1;
}
.restaurants_card .restaurants_card_content .heart_1 {
  position: relative;
}
.restaurants_card .restaurants_card_content .heart_1:hover {
  animation: heart__empty__opacity1 1s;
}
.restaurants_card .restaurants_card_content .heart_2 {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}
.restaurants_card .restaurants_card_content .heart_2:hover {
  animation: heart_full_opacity 1s forwards;
}
.restaurants .btn-new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

/*Fonctionnement*/
.function_title {
  margin: 0 0 20px 22px;
}

.function {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.function h2 {
  margin: 0 0 30px 0;
}
.function_choice {
  margin: 0 20px 20px 40px;
  background-color: #F6F6F6;
  padding: 30px 50px 30px 18px;
  margin-left: 20px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.function_choice:hover {
  background-color: #f5edff;
}
.function_choice:hover .fas {
  color: #9356DC;
}
.function_choice_nb {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  color: white;
  display: flex;
  border-radius: 15px;
  border: solid 1px #9356DC;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: 22px;
}

/*Photo restaurant */
.photo_restaurant img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/*Carte restaurant*/
.card_title {
  font-family: "Shrikhand", cursive;
  max-width: 322px;
}

.fa-heart:before {
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  .card_global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
.card .far {
  align-self: flex-end;
}
.card h2 {
  margin-bottom: 35px;
}

.entrees {
  margin-bottom: 27px;
  margin-right: 30px;
  width: 110px;
}
.entrees h2::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card_global_entrees {
  animation: fadein 2s;
  display: flex;
  padding: 20px;
}
@media screen and (min-width: 1140px) {
  .card_global_entrees {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1032px) {
  .card_global_entrees {
    flex-direction: column;
  }
}

.card_global_plats {
  animation: fadein 4s;
  display: flex;
  padding: 20px;
}
@media screen and (min-width: 1142px) {
  .card_global_plats {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1032px) {
  .card_global_plats {
    flex-direction: column;
  }
}

.card_global_desserts {
  animation: fadein 6s;
  display: flex;
  padding: 20px;
}
@media screen and (min-width: 1142px) {
  .card_global_desserts {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1032px) {
  .card_global_desserts {
    flex-direction: column;
  }
}

.card_global_entrees h2,
.card_global_plats h2,
.card_global_desserts h2 {
  font-weight: normal;
  font-size: 20px;
}

.card_global_contenu {
  background-color: #FFF;
  width: 350px;
  height: 70px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 0 0 16px;
  border-radius: 0.75rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-right: 30px;
}
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .card_global_contenu {
    max-width: none;
  }
}
.card_global_contenu_dish {
  width: 350px;
  padding: 14px 0;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.card_global_contenu_dish h3 {
  font-size: 16px;
}
.card_global_contenu_dish h4 {
  font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .card_global_contenu_dish h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .card_global_contenu_dish h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.card_global_contenu:hover .card_global_contenu_dish_confirmation {
  margin-right: 0px;
  min-width: 4rem;
  transition: margin-right 0.5s;
}
.card_global_contenu:hover .header_menu {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_global_contenu:hover .header_menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card_global_contenu:hover .header_menu h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 405px) {
  .card_global_contenu:hover .header_menu {
    max-width: 130px;
  }
}
.card_global_contenu:hover .circle {
  transform: rotate(360deg);
}

.card_global_contenu_dish_confirmation {
  background-color: #99E2D0;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -64px;
}

.circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.circle .fas {
  margin-left: 4px;
}

.center {
  text-align: center;
}

.card_price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-right: 20px;
  width: 25%;
}

.header_menu {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.header_menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header_menu h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Bouton Commander*/
.bouton_commander {
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.bouton_commander--pink {
  background-color: #9356DC;
  padding: 15px 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.bouton_commander--pink:hover {
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=style.css.map */
