@keyframes heart_empty_opacity1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.heart {
    position: absolute;
    right: 50px;
    top : 35px;
    top: 1;

    &_1 {
        position: relative;

        &:hover {
            animation: heart__empty__opacity1 1s;
        }
    }

    &_2 {
        position: absolute;
        top: 0px;
        opacity: 0;
        color: #FFF;

        &:hover {
            animation: heart_full_opacity 1s forwards;
        }
    }
}